<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <bean class="org.example.pojo.Student" name="Student1">

            <property name="id">
                <value>1</value>
            </property>
        <property name="name">
            <value>Singh</value>
        </property>
    </bean>
    <bean id="myBean" class="org.example.pojo.Student" init-method="init" destroy-method="destroy"/>
<!--    <bean id="student" class="org.example.pojo.Student" init-method="init" destroy-method="destroy">-->
<!--        <property name="id" value="1" />-->
<!--        <property name="name" value="John Doe" />-->
<!--    </bean>-->
    <bean id="edao" class="org.example.dao.UserDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/amitdiwan"/>
        <property name="username" value="root"/>
        <property name="password" value="Shash08090@"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>










</beans>